# Node / Packages
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Gemini API & Assistant Directories

scratch/
.env




# OS/System files
.DS_Store
Thumbs.db
*.log
.history/
.antigravitycli/




